body {
    min-height: 4000px;
}

.jumbotron {
    padding-top: 6rem;
    background-image: url(img/backgroundjumbotron.png);
    background-size: cover;
}

.about {
    font-family: Otomanopee One;
}

.andreas {
    font-family: Viga;
}

.jumbotron2 {
    padding-top: 5rem;
}

#dokumentasi2 {
    background-color: #343a40;
}

#closing {
    background-color: #343a40;
}

#sosial {
    background-color: #343a40;
}

.day2 {
    font-family: Otomanopee One;
}

section {
    padding-top: 5rem;
}

.nav-link {
    margin-right: 10px
}

/* Utility */
.tombol {
    border-radius: 40px;
}

.kiri {
    margin-left: 3rem;
}

.kiri1 {
    margin-left: 5rem;
}

.video {
    text-align: center;
}

.tombollink {
    text-align: center;
    margin-right: 5rem;
}

.jumbotron10 {
    padding-top: 4rem;
    background-color: #343a40;
}

.batu {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}